RewriteEngine On

# 1. Redirect /cutify.html to /cutify (Optional but good for SEO)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

# 2. Internally map /cutify to /cutify.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
